
/* 
    Document   : main
    Created on : Oct 29, 2012, 11:49:10 PM
    Author     : DAT
    Description:
        Purpose of the stylesheet follows.
*/
/* Reset ================================================================================= */
* { 
    margin:0; 
    padding:0; 
}
html {
    height: 100%;
    width: 100%;
}
.catalog-product-compare-index > div { min-width:600px;}

body { 
    background:url(../images/banner/body-bg.gif) repeat-x center top #ffffff; 
    font-family:Arial; 
    line-height:1.5em; 
    color:#989898; 
    /*text-align:center;*/ 
    min-width:1205px; 
    font-family: Arial;
    font-size: 13px;
    color: black;
}
body > .wrapper { position:relative; }
.wrapper-tail{}

img           { border:0; vertical-align:top; }

a             { color: black; 	text-decoration:none;}
a:hover       { text-decoration:none; }
:focus        { outline:0; }

/* Headings */
h1            { font-size:20px; font-weight:normal; line-height:1.15; margin-bottom:0px; }
h2            { font-size:18px; font-weight:normal; line-height:1.25;margin-bottom:7px;}
h3            { font-size:16px; font-weight:bold; line-height:1.25; margin-bottom:7px;}
h4            { font-size:14px; font-weight:bold; margin-bottom:7px; }
h5            { font-size:12px; font-weight:bold; margin-bottom:7px;}
h6            { font-size:11px; font-weight:bold; margin-bottom:7px;}

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { }

/* Content */
strong        { font-weight:bold; }
address       { font-style:normal; margin-bottom:5px;}
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
sup           { font-size:1em; vertical-align:top; }

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
/*======================public================================================*/
.clear{
    clear: both;
}


/* ======================================================================================= */
#wrapper{
    width: 1000px;
    margin: auto;
}

/*========================HEADER========================*/
#wrap_header{
    margin: auto;
    width: 1000px;
/*    height: 200px;*/
    /*background: aqua;*/
    text-align: left;
}
#banner_header{
    padding-top: 50px;
}
.stitle_web{
    font-family: sans-serif;
    font-size: 30px;
    color: #92b802;
    
    
}
#nav_menu{
    margin-top: 30px;
}
.header-row-1 {
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14248D', endColorstr='#0055A8'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#14248D), to(#0055A8));
    background: -moz-linear-gradient(top,  #14248D,  #0055A8); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #14248D,  #0055A8); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #14248D,  #0055A8); /* IE10+ */
    border-radius:4px; 
    margin-bottom:20px;
    height: 40px;
}
.header-row-1 ul {
    /*overflow: hidden;*/
    display: block;
    list-style: none;
    float: left;
    margin: auto;
    
}
/*.header-row-1 ul li:first-child {background:none;}*/
.header-row-1 ul li {
    display: block;
    height: 40px; 
    line-height: 40px; 
    float:left; 
    position: relative;
    
}
.header-row-1 ul li a {
    font-size:13px; 
    color:#EFEFAF;
    line-height:20px; 
    padding:11px 18px 16px; 
    display:inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header-row-1 ul li a:hover {color:#fff; font-weight: bold;}

.header-row-1 ul li:hover, .header-row-1 ul li.active{
    background: #0450c9;
}

.header-row-1 ul li ul{
	position: absolute;
	display: none;
        z-index: 1000;
}

.header-row-1  ul li ul li {
	padding: 0px;
	border-bottom: 1px solid #ccdfdf;
	width: 100%;
        background: #0450c9;
}

.header-row-1 ul li:hover ul{
	display: block;
	margin-top: -6px;
	width: 190px;
        z-index: 10;
}
.header-row-1 ul li:hover ul li{
    position: relative;
}
.header-row-1 ul li:hover ul li ul{
    display: none;
    position: absolute;
}
.header-row-1 ul li:hover ul li:hover ul{
    display: block;
    margin-top: -47px;
    margin-left: 190px;
    width: 190px;
    z-index: 1000;
}

.header-row-1 ul li ul li ul li{
    padding: 0px;
    border-bottom: 1px solid #ccdfdf;
    width: 100%;
    background: #0799ea;
}


.header-row-1 .form-search { text-align:right; }
.header-row-1 .form-search .search-autocomplete img{ float:left; margin-right:10px; margin-bottom:10px;}
.header-row-1 .form-search .search-autocomplete { z-index:999; }
.header-row-1 .form-search .search-autocomplete ul { border:1px solid #ddd; background-color:#fff; }
.header-row-1 .form-search .search-autocomplete li { padding:20px; border-bottom:1px solid #e9e9e9; cursor:pointer; text-align:left; }
.header-row-1 .form-search .search-autocomplete li .description{ font-size:12px; padding-top:12px;}
.header-row-1 .form-search .search-autocomplete li { font-size:12px;}
.header-row-1 .form-search .search-autocomplete li.suggest{ padding:7px;}
.header-row-1 .form-search .search-autocomplete li.suggest:hover{  background:#92b802!important;}
.header-row-1 .form-search .search-autocomplete li .amount-2 { float:right; font-weight:bold; }
.header-row-1 .form-search .search-autocomplete li.selected {}
.header-container .top-container { clear:both; text-align:right; }
.header .block-currency {float:right; border:none; margin:0 0 0 30px; padding:0; background:none;}
.header .block-currency .block-content {padding:0; border:0; float:right; clear:right; background:none; margin:0;}
.header  .block-currency .block-title {
	font-family:Arial, Helvetica, sans-serif;
	text-transform:none;
	background:none; 
	margin:0px;
	border:0px; 
	padding:0px 10px 0 0; 
	float:left; 
	display:inline-block; 
	color:#989898;
	filter: progid none; /* IE6-9 */
	}
.header  .block-currency .block-title strong,
.form-language label {	
	font-size:12px;
	line-height:normal; 
	font-weight:normal; 
	padding-top:4px; 
	float:left;
	text-align:right; 
	font-family:Arial, Helvetica, sans-serif;
	text-transform:none;
	color:#989898;
}
.header select {font-size:11px; font-family:Arial, Helvetica, sans-serif; line-height:normal; background:#ccc; padding:3px;	border:1px solid #ddd !important;}
.form-language {float:right;}


/* ======================================================================================= */
/* ======================================================================================= */
#wrap_main{
     /*margin: auto;*/
     width: 730px;
     /*height: 800px;*/
     min-height: 600px;
     background: white;
     padding: 20px 25px;
     float: left;
     margin-right: 18px;
     border: 1px solid activeborder;
     border-radius: 3px;
}
#wrap_main .title_home{
    border-bottom: 1px solid #14248D;
    margin-bottom: 5px;
    padding-top: 10px;
    
    font-variant-caps: all-small-caps;
    
}
#wrap_main .images{
    float: left;
    display: block;
}

#wrap_main .contact_us{
    float: right;
    width: 400;
    margin-left: 20px;
}
#wrap_main  .title_info{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #013c5d;
}
#wrap_main  .detail_info{
    margin-left: 50px;
}
#wrap_main  .detail_info_sub{
    margin-left: 70px;
}


#wrap_main .content_text{
    text-align: left;
    margin-top: 10px;
    
}
#wrap_main .content_text .head_tb {
    font-weight: bold;
}
#wrap_main .content_text tr td{
    border: 1px solid #989898;
    padding: 7px;
}
#wrap_main .infomation{
    margin-top: 20px;
    /*border-top: 1px solid #14248D;*/
    padding-top: 20px;
}

#wrap_main .list_research{
    
}
#wrap_main  .title_tb{
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d72f0f;
    
}
#wrap_main  .title_tb a{
    color: floralwhite;
    font-weight: bold;
    padding: 5px 40px 3px 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a71a00', endColorstr='#d72f0f'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#a71a00), to(#d72f0f));
    background: -moz-linear-gradient(top,  #a71a00,  #d72f0f); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #a71a00,  #d72f0f); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a71a00,  #d72f0f); /* IE10+ */
    border-radius: 1px 10px 0px 1px;
}
#wrap_main .list_research tr td{
    border: 1px solid #554;
    padding: 5px;
}

/*------------------------------------------------------------------------*/
#wrap_main .tranfer_work{
    
}
#wrap_main .tranfer_work tr{
    border-left: 1px solid #646365;
    border-right:  1px solid #646365;
}
#wrap_main .tranfer_work  .head_tb_tranfer_work{
    border-top: 1px solid #646365;
    border-bottom:  1px solid #646365;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eadddd', endColorstr='#757171'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#eadddd), to(#757171));
    background: -moz-linear-gradient(top,  #eadddd,  #757171); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #eadddd,  #757171); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eadddd,  #757171); /* IE10+ */
    font-weight: bold;
    
}

#wrap_main .tranfer_work  .end_tb_tranfer_work{
    border-bottom:  1px solid #646365;
}
#wrap_main .tranfer_work tr td{
    padding: 5px 5px 5px 8px;
}
#wrap_main .tranfer_work tr .tranfer_STT{
    font-weight: bold;
    
}
#wrap_main .tranfer_work tr .tranfer_name{
    font-weight: bold;
    color: #16025a;
    }
#wrap_main .tranfer_work tr .tranfer_name:hover{
    text-decoration: underline;
    cursor: pointer;
}
#wrap_main .tranfer_work tr td {
    border-right: 1px solid #646365;
   
}
#wrap_main .tranfer_work tr td a:hover{
    text-decoration: underline;
}

#wrap_main .tranfer_work tr .end_col{
    border-right: none;
}
#wrap_main .tranfer_work tr:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5bf06', endColorstr='#f9d65f'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#f5bf06), to(#f9d65f));
    background: -moz-linear-gradient(top,  #f5bf06,  #f9d65f); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #f5bf06,  #f9d65f); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f5bf06,  #f9d65f); /* IE10+ */
    
}

#wrap_main .tranfer_work .filter_date{
    margin-top: 20px;
    margin-bottom: 20px;
}
#wrap_main .tranfer_work .filter_date a{
    padding-left: 10px;
    padding-right: 10px;
}
#wrap_main .tranfer_work .filter_date p{
    margin-top: 20px;
    margin-left: 70px;
}
/*------------------------------------Khen thuong----------------------*/
#wrap_main .add_bonus{
    
}
#wrap_main .add_bonus tr td{
    border: 1px solid #646365;
    padding: 10px;
}
#wrap_main .add_bonus tr td label{
    color: #6f1201;
    font-style: italic;
    margin-right: 10px;
}
/* ======================================================================================= */
#wrap_left{
    width: 200px;
    height: 800px;
    /*background: white;*/
    float: left;
}
/* ======================================================================================= */
#wrap_right{
    width: 200px;
    height: 800px;
    /*background: white;*/
    float: left;
}

.box_right{
    margin-bottom: 20px;
    background: white;
}
.box_right .title_box{
    height: 30px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: bold;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14248D', endColorstr='#0055A8'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#14248D), to(#0055A8));
    background: -moz-linear-gradient(top,  #14248D,  #0055A8); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #14248D,  #0055A8); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #14248D,  #0055A8); /* IE10+ */
    border-radius: 4px 4px 0px 0px; 
    position:relative;
}
.box_right .title_box a{
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
}

.box_right .content_box{
    border: 1px solid activeborder;
    border-radius: 0 0 4px 4px; 
}

.loginpopup {
    /*position: fixed;*/ 
    width: 200px; 
}
.loginpopup form{
    display: block;
    margin: 10px;
    /*margin-left: 30px;*/
}
.loginpopup form label{
    display: block;
    line-height: 20px;
    font-size: 13px;
    color: #ca0002;
    margin: 5px 0px;
    margin-left: 10px;
    text-align: left;
}
.loginpopup form input {
    display: block;
    margin: 10px 0px;
    height: 25px;
    border: 1px solid #73ADDB;
    border-radius: 2px;
    line-height: 25px;
    margin-left: 10px;
    width: 150px;
    padding-left: 5px;
    
    
}
.loginpopup form input.button {
    width: auto;
    height: 30px;
    line-height: 25px;
    margin: auto;
    color: #FFF;
    font-weight: bold;
    padding: 3px 10px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB5B04', endColorstr='#e4270b'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#FB5B04), to(#e4270b));
    background: -moz-linear-gradient(top,  #FB5B04,  #e4270b); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #FB5B04,  #e4270b); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #FB5B04,  #e4270b); /* IE10+ */
    border-radius: 3px 3px 3px 3px; 
}

.loginpopup form input.button:hover{
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e22ae', endColorstr='#0454d3'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#0e22ae), to(#0454d3));
    background: -moz-linear-gradient(top,  #0e22ae,  #0454d3); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #0e22ae,  #0454d3); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0e22ae,  #0454d3); /* IE10+ */
    
}
.loginpopup p {
    display: block;
    margin: auto;
    font-size: 22px;
    color: #3387CF;
    margin-top: 20px;
    text-transform: uppercase;
}


#accordion ul{
    display: block;
}
#accordion ul li{
    color: darkblue;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
}
#accordion ul ul li a{
    color: black;
}
#accordion ul ul li{
    font-size: 13px;
    font-weight: normal;
    margin: 7px 4px 7px 20px;
}
#accordion ul ul li:hover{
    font-weight: bold;
}
#accordion ul  ul li ul{
    display: block;
    position: absolute;
    
}
/*#accordion  ul ul li ul li{
    width: 100%;
    background: #0450c9;
    border-bottom: 1px solid #ccdfdf;
    padding: 7px;
    margin: 0px;
}
#accordion  ul ul li ul li a{
    text-transform: none;
    color: #FFFFFF;
}
#accordion  ul ul li:hover ul{
    display: block;
    margin-top: -50px;
    margin-left: -200px;
    width: 190px;
}*/

/*------------------------------------------------------*/


#wrap_main .find_box{
    
}
#wrap_main .find_box .find_form tr{
    margin-bottom: 10px;
}
#wrap_main .find_box .find_form tr td{
    vertical-align: text-top;
}
#wrap_main .find_box .find_form tr td label{
    color: #4a0303;
    font-weight: bold;
}

#wrap_main .result_find{
    margin-top: 30px;
    height: 400px;
}

#wrap_main .infomation_staff{
    
}
#wrap_main .infomation_staff .title{
    width: 730px;
    color: white;
    line-height: 30px;
    margin: 0;
    padding-left: 12px;
    border: 1px solid #6CF;
    text-align: center;
    background-color: #3CF;
    font: bold 1em sans-serif;
}
#wrap_main .infomation_staff tr{
    display: table-row;
    vertical-align: inherit;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    
    
}
#wrap_main .infomation_staff .list{
    height: 30px;
    text-align: right;
    width: 250px;
    font: bold 1em sans-serif;
    color: #554;
    background: #E9E9E9;
    padding-right: 10px;
    
}
#wrap_main .infomation_staff .list_ret{
    padding-left: 10px;
}
/*---------------Quan ly can bo-------------------------------------*/
#wrap_main .button a{
    color: #FFFFFF;
}
#wrap_main .button{
    width: auto;
    margin: auto;
    color: #FFFFFF;
    font-weight: bold;
    padding: 7px 15px;
    cursor: pointer;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB5B04', endColorstr='#e4270b'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#FB5B04), to(#e4270b));
    background: -moz-linear-gradient(top,  #FB5B04,  #e4270b); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #FB5B04,  #e4270b); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #FB5B04,  #e4270b); /* IE10+ */
    border-radius: 3px 3px 3px 3px; 
}

#wrap_main .button:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e22ae', endColorstr='#0454d3'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#0e22ae), to(#0454d3));
    background: -moz-linear-gradient(top,  #0e22ae,  #0454d3); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #0e22ae,  #0454d3); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0e22ae,  #0454d3); /* IE10+ */
}
#wrap_main .manager_staff{
    margin-top: 30px;
}
#wrap_main .manager_staff .title_table{
    color: #14248D;
    font-weight: bold;
    background: #989898;
    height: 30px;
    border-radius: 2px 2px 0px 0px;
    text-align: center;
    
}
#wrap_main .manager_staff  tr td{
    border: 1px solid #554;
    padding: 5px;
}
#wrap_main .manager_staff  tr td a:hover{
    text-decoration: underline;
}
#wrap_main .list_staff{
    margin-top: 30px;
}
#wrap_main .list_staff .avatar_img{
    margin-right: 15px;
    
    
    /*background: #0055A8;*/
    float: left;
    border-radius: 4px;
    box-shadow: 2px 2px #616D7E;
    -webkit-box-shadow: 2px 2px #616D7E;
    -moz-box-shadow: 2px 2px #616D7E;
}


#wrap_main .list_staff .content_staff{
    /*background: none repeat scroll 0 0 #D5D5D5;*/
    float: left;
    height: 130px;
    width: 230px;
}
#wrap_main .list_staff table tr{
    border-bottom: 50px solid #FFFFFF;
    
}
#wrap_main .list_staff table tr td p{
    margin-bottom: 5px;
}
#wrap_main .list_staff table tr td .name_staff{
    text-transform: uppercase;
    color: #14248D;
    font-weight: bold;
}
#wrap_main .list_staff table tr td .email_staff{
    color: #057BA3;
}
#wrap_main .list_staff table tr td .postion_staff{
    
}
#wrap_main .list_staff table tr td .contact_staff{
    color: #C00000;
    
}
#wrap_main .list_staff table tr td .more_staff{
    text-align: right;
    
    margin-right: 10px;
    
}
#wrap_main .list_staff table tr td .more_staff a{
    color: #92b802;
    font-style: italic;
    text-decoration: underline;
}
#wrap_main .list_staff table tr td .more_staff a:hover{
    cursor: pointer;
    color: #8a10d7;
}

#wrap_main .list_dv .row_dv{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #616D7E ;
}
#wrap_main .list_dv .row_dv p{
    margin-bottom: 5px;
}
#wrap_main .list_dv .row_dv .avatar_dv{
    float: left;
    margin-right: 20px;
    padding: 3px;
    border: 1px solid #646365;
    margin-bottom: 10px;
}
#wrap_main .list_dv .row_dv .content_dv{
    float: left;
    width: 500px;
    
}
#wrap_main .list_dv .row_dv .name_dv{
    margin-bottom: 15px;
}
#wrap_main .list_dv .row_dv .name_dv a{
    text-transform: uppercase;
    color: #ae0626;
    font-weight: bold;
    font-size: 14px;
    
}
#wrap_main .list_dv .row_dv .addr_dv a{
    font-style: italic;
}
#wrap_main .list_dv .row_dv .manger_dv a{
    font-weight: bold;
    color: #057BA3;
}    
#wrap_main .list_dv .row_dv .sub_dv a{
    font-weight: bold;
    color: #3c465a;
}
#wrap_main .list_dv .row_dv .more_dv{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    
}
#wrap_main .list_dv .row_dv .more_dv a{
    padding: 5px 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB5B04', endColorstr='#e4270b'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#FB5B04), to(#e4270b));
    background: -moz-linear-gradient(top,  #FB5B04,  #e4270b); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #FB5B04,  #e4270b); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #FB5B04,  #e4270b); /* IE10+ */
    border-radius: 3px 3px 3px 3px; 
}
#wrap_main .list_dv .row_dv .more_dv a:hover{
    color: #d6d9de;
    cursor: pointer;
    font-weight: bold;
}

/*-----------------------------Trang chủ-----------------------------------------*/
#wrap_main #thongtinnoibat {
    
}
#wrap_main #thongtinnoibat #noibat_left{
    /*background: #6024dc;*/
    width: 400px;
    min-height: 400px;
    float: left;
}
#wrap_main #thongtinnoibat #noibat_right{
    /*background: #d72f0f;*/
    width: 305px;
    min-height: 400px;
    float: left;
    margin-left: 25px;
}
#wrap_main #thongtinnoibat #noibat_right ul li{
    margin-bottom: 10px;
}
#wrap_main #thongtinnoibat b{
    color: #065040;
}
#wrap_main #thongtinnoibat .more:hover{
    cursor: pointer;
    text-decoration: underline;
}

#thongtinnoibat li {
    text-align: justify;
}
#wrap_main #thongtinnoibat b:hover{
    color: #2f0191;
    cursor: pointer;
}

#wrap_main #thongtinnoibat .sub_left{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #c2c1c5;
}
#wrap_main #thongtinnoibat .sub_right{
    width: 190px;
    float: left;
    margin-left: 5px;
}


#wrap_main .sub_thongtin{
    
}
#wrap_main .sub_thongtin .sub_left{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #c2c1c5;
}
#wrap_main .sub_thongtin .sub_right{
    width: 600px;
    float: left;
    margin-left: 20px;
}
#wrap_main .sub_thongtin .sub_right b:hover{
    color: #2f0191;
    cursor: pointer;
}
#wrap_main .sub_thongtin .sub_right b{
    color: #065040;
}
#wrap_main .sub_thongtin ul li{
    margin-bottom: 20px;
}
/* ======================================================================================= */
#wrap_footer{
    margin: 10px auto;
    width: 1000px;
    text-align: center;
    height: 200px;
    background: darkseagreen;
    float:left;
}
/* ======================================================================================= */
#wrap_center{
    width: 600px;
    height: 800px;
    background: darkgoldenrod;
    float: left;
}
/* ======================================================================================= */

/*================================Tim kiem======================================*/
#wrap_main .list_data{
    
    
}

#wrap_main .title_table{
    padding-top: 10px;
    /*background: floralwhite;*/
    text-align: center;
    margin-bottom: 10px;
}
#wrap_main  .title_table a{
    color: #C00000;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    
}
#wrap_main .list_data .tieu_de{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eadddd', endColorstr='#757171'); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, from(#eadddd), to(#757171));
    background: -moz-linear-gradient(top,  #eadddd,  #757171); /* firefox 3.6+ */
    background: -o-linear-gradient(top,  #eadddd,  #757171); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eadddd,  #757171); /* IE10+ */
}
#wrap_main .list_data table .tieu_de td{
    border: 1px solid #FFFFFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

#wrap_main .list_data .description{
    width:730px; 
    height:300px; 
    overflow-y:auto;
    overflow-x: hidden;
    /*border-bottom: 2px solid #2b2a25;*/
}
#wrap_main .row_1{
    background-color: #FFFFFF;
}
#wrap_main .row_2{
    background-color: #c2c1c5;
}
#wrap_main .list_data .description tr:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4b6b6', endColorstr='#f4e8b6');      /*IE6-9*/ 
    background: -webkit-gradient(linear, left top, left bottom, from(#f4b6b6), to(#f4e8b6));
    background: -moz-linear-gradient(top,  #f4b6b6,  #f4e8b6);      /*firefox 3.6+*/ 
    background: -o-linear-gradient(top,  #f4b6b6,  #f4e8b6);      /*Opera 11.10+*/ 
    background: -ms-linear-gradient(top,  #f4b6b6,  #f4e8b6);      /*IE10+*/ 
}
#wrap_main .list_data .description tr td{
    border: 1px solid #0055A8;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}
#wrap_main .list_data .description tr td a:hover{
    text-decoration: underline;
}

#wrap_main .detail_data{
    float: left;
    width: 800px;
    margin-top: 20px;
}
#wrap_main .detail_data .title_tab{
    float: left;
}
#wrap_main .detail_data .title_tab ul{
    list-style: none;
    width: 800px;
}
#wrap_main .detail_data .title_tab ul li{
    background: #FFFFFF;
    border-left: 1px solid #757171;
    border-top: 1px solid #757171;
    border-right: 1px solid #757171;
    border-radius: 3px 3px 0 0;
    margin-right: 5px;
    padding: 7px;
    list-style: none;
    float: left;
}
#wrap_main .detail_data .title_tab ul li:hover{
    cursor: pointer;
}
#wrap_main .detail_data .title_tab ul .active{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#d9d8f8');      /*IE6-9*/ 
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#d9d8f8));
    background: -moz-linear-gradient(top,  #FFFFFF,  #d9d8f8);      /*firefox 3.6+*/ 
    background: -o-linear-gradient(top,  #FFFFFF,  #d9d8f8);      /*Opera 11.10+*/ 
    background: -ms-linear-gradient(top,  #FFFFFF,  #d9d8f8);      /*IE10+*/ 
}
#wrap_main .detail_data .title_tab ul .active a{
    color: #2b2a25;
}
#wrap_main .detail_data .title_tab ul li a{
    font-weight: bold;
    color: #333399
}

#wrap_main .detail_data .content_tab{
    border: 1px solid #757171;
    float: left;
    width: 800px;
    /*height: 100px;*/
    border-radius: 0px 6px 4px 4px;
    /*background: #0055A8;*/
}
#wrap_main .detail_data .conTab{
    margin: 20px 10px 20px 20px;
    
}



/*===================================================================================*/
root { 
    display: block;
}