<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="thread">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">spms</property>
		<property name="hibernate.connection.password">spms1234</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/spms</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.session_factory_name">SessionFactory</property>
		<property name="hibernate.show_sql">true</property>

		<mapping resource="edu/hust/k54/persistence/Capuy.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Chucvu.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Danhhieu.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Dantoc.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Dienbienhocham.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Dienbienhocvi.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Dienbienluong.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Dienbienphucap.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Donviquanly.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Giaoducphothong.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Hesoluong.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Hocham.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Hocvi.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Khenthuong.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Khoidonviquanly.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Kyluat.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Lylichkhoahoc.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Muckyluat.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Ngachluong.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Nhatkyhethong.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Phongban.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Phucap.hbm.xml" />
		<mapping
			resource="edu/hust/k54/persistence/Quatrinhdinuocngoai.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Quatrinhnghiencuu.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Quocgia.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Sachxuatban.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Soyeulylich.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Taikhoandangnhap.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Tongiao.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Xuatthan.hbm.xml" />
		<mapping resource="edu/hust/k54/persistence/Baocao.hbm.xml" />


	</session-factory>
</hibernate-configuration>
